body {
	background: url(../images/christmasTree.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	color: #FFFFFF;
	font-size: 18px;
	width: 600px;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

.nav-header {
	color:#FFFFFF;
	text-align: center;
	background: url(../images/banner.jpg);
}

.form-padding {
	width: 700px;
	padding-bottom: 10px;
}

.input-secret-santa {
	border-radius: 4px;
}

.div-secret-santa {
	color: #FFFFFF;
	font-size: 16px;
	width: 600px;
	padding-bottom: 5px;
}

#footer {
	height: 60px;
}